* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
}

body {
  text-align: center;
  margin: 0;
  color: white;
  min-height: 200vh;
  overflow-x: hidden;
}

.box {
  border: 6px solid white;
  transition: 0.25s ease;
  background: black;
  padding: 10px;
  transition: 0.5s ease;
}

p {
  visibility: hidden;
  width: 240px;
  margin: 10px auto 0;
  opacity: 0;
  transform: translateX(-270px);
}

.Click-event-checked {
  border-radius: 20px;
  transition: 0.25s ease;
  background: #626262;
}

.answer {
  visibility: visible;
  opacity: 0.8;
  transition: 1s ease;
  transform: translateX(0);
}
.mousemove {
  height: 50px;
  width: 50px;
  border: 2px solid rgb(78, 233, 78);
  border-radius: 50px;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: -1;
}
nav {
  position: fixed;
  height: 50px;
  width: 100%;
  background: #626262;
  padding: 12.5px;
  top: -50px;
  transition: 0.5s;
}
ul {
  display: flex;
  justify-content: space-around;
}
li {
  cursor: pointer;
}
